<h1>Solictud terminada</h1>

<p>
    <%= @greeting %>, Tu solicitud ha esta lista. Revisalo en <a href="vendorsinsight.herokuapp.com">vendors insight</a> opción ver solicitudes.
</p>
<hr>
<%= render 'form' %>