<h1>Solictud rechazada</h1>

<p>
    <%= @greeting %>, Se ha rechazado tu solicitud solicitud. Revisalo en <a href="vendorsinsight.herokuapp.com">vendors insight</a> opción ver solicitudes.
</p>

<p>
  Motivo: <br>
  <%= @comentario %>
</p>
<hr>
<%= render 'form' %>
