<h1>Solictud aceptada</h1>

<p>
    <%= @greeting %>, Se ha aceptado tu solicitud solicitud. Revisalo en <a href="vendorsinsight.herokuapp.com">vendors insight</a> opción ver solicitudes.
</p>
<hr>
<%= render 'form' %>