<h1>Solictud creada</h1>

<p>
    <%= @greeting %>, Se ha creado una nueva solicitud. Revisalo en <a href="vendorsinsight.herokuapp.com">vendors insight</a> opción ver solicitudes.
</p>
<hr>
<%= render 'form' %>