<h1>Solictud entregada</h1>

<p>
    <%= @greeting %>, Usted ha recibido su pedido. Si no lo ha hecho comuniquese con el diseñador de la empresa. Revisalo en <a href="vendorsinsight.herokuapp.com">vendors insight</a> opción ver solicitudes.
</p>
<hr>
<%= render 'form' %>