/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 *= require twitter-bootstrap-static/sprites
 */



#crearSol{
	background-color: #E62323 !important;
	color: #FFFFFF !important;
}

#verSol{
	background-color: #E62323 !important;
	color: #FFFFFF !important;
}

.form-control{
  width:255px;
  height: 48px;
}

.btn{
	background-color: #E62323 !important;
	color: #FFFFFF !important;
	width:255px;
    height: 48px;
    outline:0 !important;

}
.text_field{
	width:220px;
	height: 38px;
}

.text_area{
	width:220px;
	height: 60px;
}

.aceptar{
	background-color: #99ff99 !important;
	color: #000000 !important;
	outline:0 !important;
    width:140px;
    height: 30px;
}

.rechazar{
	background-color: #ff6666 !important;
	color: #000000 !important;
	outline:0 !important;
    width:140px;
    height: 30px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FF6666; border-radius: 30px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 10px;
    background-color: #DBD8D8; color: #000000;
    border-radius: 30px 0 0 30px;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 10px;
    background-color: #EEEEEE; color: #000000;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
.onoffswitch-switch {
    display: block; width: 30px; margin: 0px;
    background: #FF6666;
    border: 2px solid #FF6666; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.terminar{
    background-color: #CCFFFF !important;
	color: #000000 !important;
	outline:0 !important;
    width:140px;
    height: 30px;
}

.entregar{
    background-color: #CCFFE5 !important;
	color: #000000 !important;
	outline:0 !important;
    width:140px;
    height: 30px;
}

.tela{
    background-color: #E62323 !important;
	color: #FFFFFF !important;
	width:180px;
    height: 35px;
    outline:0 !important;
}
 
.btn:active{ 
outline: 0; 
background: #A61C1C; 
background: -moz-linear-gradient(top, #A61C1C 1%, #A61C1C 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#A61C1C), color-stop(100%,#A61C1C )); 
text-shadow: 0 1px 0 rgba(0,0,0,0.4); 
text-decoration: none; 
border: 3px solid #ffffff !IMPORTANT; 
} 

.aceptar:active{ 
outline: 0; 
background: #5ebd74; 
background: -moz-linear-gradient(top, #5ebd74 1%, #5ebd74 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5ebd74), color-stop(100%,#5ebd74 )); 
text-shadow: 0 1px 0 rgba(0,0,0,0.4); 
text-decoration: none; 
border: 3px solid #eeeeee !IMPORTANT; 
}

.rechazar:active{ 
outline: 0; 
background: #ff0000; 
background: -moz-linear-gradient(top, #ff0000 1%, #ff0000 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ff0000), color-stop(100%,#ff0000 )); 
text-shadow: 0 1px 0 rgba(0,0,0,0.4); 
text-decoration: none; 
border: 3px solid #eeeeee !IMPORTANT; 
}

.select select {
  width: 168px;
  padding: 5px;
  font-size: 12px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  border: 1px solid #A7ABA8!IMPORTANT; 
}
