/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_tree .
 *= require_self
 *= require twitter-bootstrap-static/sprites
 */



#crearSol{
	background-color: #E62323 !important;
	color: #FFFFFF !important;
}

#verSol{
	background-color: #E62323 !important;
	color: #FFFFFF !important;
}

.form-control{
  width:255px;
  height: 48px;
}

.btn{
	background-color: #E62323 !important;
	color: #FFFFFF !important;
	width:255px;
    height: 48px;
    outline:0 !important;

}
.text_field{
	width:220px;
	height: 38px;
}

.text_area{
	width:220px;
	height: 60px;
}

.aceptar{
	background-color: #99ff99 !important;
	color: #000000 !important;
	outline:0 !important;
}

.rechazar{
	background-color: #ff6666 !important;
	color: #000000 !important;
	outline:0 !important;
}
 
.btn:active{ 
outline: 0; 
background: #A61C1C; 
background: -moz-linear-gradient(top, #A61C1C 1%, #A61C1C 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#A61C1C), color-stop(100%,#A61C1C )); 
text-shadow: 0 1px 0 rgba(0,0,0,0.4); 
text-decoration: none; 
border: 3px solid #ffffff !IMPORTANT; 
} 

.select select {
  width: 168px;
  padding: 5px;
  font-size: 12px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  border: 1px solid #A7ABA8!IMPORTANT; 
}
